body {
	font-size: 20pt;
	background-image: url('background-clay02.jpg');
	}
#fontselection {
	font-size: 10pt;
	}	
textarea {
	font-size: 125%;
	width:95%;
	background-color: rgba(255,255,255,0.5);
	}

p {
	font-size: 10pt;
	}	

#imepanel {
	width:100%;
	background-color: rgba(255,255,255,0.5);
	}

#maintext, #inputpanel {
	width:40%;
	display:inline-block;
	height:100%;
	vertical-align: top;
	}
	
#favourites {
	width:15%;
	display:inline-block;
	height:100%;
	vertical-align: top;
	}

#buffer {
	min-height: 2em;
	border:1px solid silver;
	text-align: center;
	}

#candidates {
	min-height: 2em;
	border:1px solid gray;
	}

a {
	text-decoration: none;
	color: black;
	}

#candidates a,
#favourites a {
	display: inline-block;
	border:1px solid silver;
	font-size:125%;
	}

h1 {
	text-align: center;
	}

h6 {
	margin:0;
	}

button {
	background-size: cover;
	cursor: pointer;
   width: 40px;
   height: 40px;
	background-color: transparent;      
	}
	
#btn_horizontalwedge {
	background-image: url('media/horizontalwedge.png');
	}

#btn_verticalwedge {
	background-image: url('media/verticalwedge.png');
	}

#btn_verticalinvertwedge {
	background-image: url('media/verticalinvertwedge.png');
	}
	
#btn_diagwedgeNWSE {
	background-image: url('media/diagwedgeNW-SE.png');
	}

#btn_diagwedgeSWNE {
	background-image: url('media/diagwedgeSW-NE.png');
	}
	
#btn_diagwedgeNESW {
	background-image: url('media/diagwedgeNE-SW.png');
	}

#btn_diagwedgeSENW {
	background-image: url('media/diagwedgeSE-NW.png');
	}

#btn_Uwedge {
	background-image: url('media/Uwedge.png');
	}

#btn_horizontalUwedge {
	background-image: url('media/horizontalUwedge.png');
	}

/*double strokes*/
	
#btn_horizontalwedge2 {
	background-image: url('media/horizontalwedge2.png');
	}

#btn_verticalwedge2 {
	background-image: url('media/verticalwedge2.png');
	}

#btn_verticalinvertwedge2 {
	background-image: url('media/verticalinvertwedge2.png');
	}
	
#btn_diagwedgeNWSE2 {
	background-image: url('media/diagwedgeNW-SE2.png');
	}

#btn_diagwedgeSWNE2 {
	background-image: url('media/diagwedgeSW-NE2.png');
	}
	
#btn_diagwedgeNESW2 {
	background-image: url('media/diagwedgeNE-SW2.png');
	}

#btn_diagwedgeSENW2 {
	background-image: url('media/diagwedgeSE-NW2.png');
	}

#btn_Uwedge2 {
	background-image: url('media/Uwedge2.png');
	}


#buffer img {
   width: 30px;
   height: 30px;      
	}
	
.horizontalwedge img {
	content:url('media/horizontalwedge.png');
	}
	
.verticalwedge img {
	content:url('media/verticalwedge.png');
	}
	
.verticalinvertwedge img {
	content:url('media/verticalinvertwedge.png');
	}
	
.diagwedgeNWSE img {
	content:url('media/diagwedgeNW-SE.png');
	}

.diagwedgeSWNE img {
	content:url('media/diagwedgeSW-NE.png');
	}
	
.diagwedgeNESW img {
	content:url('media/diagwedgeNE-SW.png');
	}

.diagwedgeSENW img {
	content:url('media/diagwedgeSE-NW.png');
	}

.Uwedge img {
	content:url('media/Uwedge.png');
	}

#buffer div {
	display: inline-block;
	height: 30px;
	width: 30px;
	}

.selected ::before {
  content: "⇒";
}

.selectedsyllablecomponent {
	font-weight: bold;
	border: 1px solid black;
	box-shadow: 2px 2px 5px black; 
	}

#tabs {
	width: 100%;
	font-size:10pt;
	td {
		background-color: rgba(192, 192, 192, 0.466);
		border-top-right-radius: 1ex;
		border-top-left-radius: 1ex;
		text-align: center;
		border-bottom: 1px black solid;
		width:25%;
		}
	}

.Xcons {
      color:rgb(155,155,155);
	  }

.cunsyllable{
	font-size:200%;
	}

.latsyllable {
	font-size:85%;
	color:grey;
	}


#syllableinput {
	/* font-size: 50%; */
	width: 100%;
	
	
	td:first-child {
		text-align: right;
		}
	
	td:nth-child(2) {
		width:5em;
		text-align: center;
		}
	
	td:nth-child(3) {
		text-align: left;
		}
	}

#syllablecomposerdisplay {
	text-align: center;
	}

#candidates_cvc {
	text-align: center;
	}

button img {
	width:90%;
	}




